# Specifies intentionally untracked files to ignore when using Git
# http://git-scm.com/docs/gitignore

/android/**
/tree/master/android/**
.versions/
coverage/
dist/
node_modules/
tmp/
temp/
resources/
hooks/
platforms/
plugins/
plugins/android.json
plugins/ios.json

$RECYCLE.BIN/

.DS_Store
Thumbs.db
UserInterfaceState.xcuserstate
